body {
    background-color: rgb(176, 216, 199);
}

#slider1 {
    transform: rotate(270deg);
    margin-top: 15%;
    appearance: none;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: lightsteelblue;
}

#slider2 {
    margin-top: 15%;
    margin-left: 25%;
    appearance: none;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    background-color: lightsteelblue;
}

::-webkit-slider-thumb {
    appearance: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: cornflowerblue;
}

h1 {
    color: azure;
}