body {
    background-color: rgb(176, 216, 199);
}

#slider1 {
    transform: rotate(270deg);
    margin-top: 15%;
    appearance: none;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    background-color: lightsteelblue;
}

#slider2 {
    margin-top: 15%;
    margin-left: 500px;
    margin-right: 0px;
    appearance: none;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color: lightsteelblue;
}

::-webkit-slider-thumb {
    appearance: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: cornflowerblue;
}

#sliders {
	/*margin-top: 0%;*/
    width: 100%;
    height: 30%;
    position: absolute;
    top: 100px;
    left: 50px;
}

#buttons {
	/*margin-left: 40%;*/
    position: absolute;
    top: 30px;
    left: 30px;
}

.btn {
	display: block;
	width: 100px;
	height: 50px;
}

.image {
    position: relative;
    margin-left: 20%;
    width: auto;
    height:80vh;
}